$arrow-width: 0.6em;
$arrow-height: 0.5em;

.mtdev-accordion {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
  margin: 2rem 0;
}

.mtdev-accordion__header {
  color: var(--wp--preset--color--mt-green, #28E8A3);
  font-family: var(--wp--preset--font-family--red-hat-display);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
  cursor: pointer;
  transition: color 0.3s;
  position: relative;

  > * {
    margin: 0;
    font: inherit !important;
  }

  &:hover {
    color: var(--wp--preset--color--mt-blue, #11D9ED);
  }

  // Arrow
  svg {
    content: '';
    position: absolute;
    top: 50%;
    right: 1em;
    width: $arrow-width;
    height: $arrow-height;
    transform: translateY(-50%);
    transition: transform 0.3s;
  }
}

.mtdev-accordion__content {
  max-height: 0;
  transition: max-height 0.5s;
  line-height: 1.3;
}

.mtdev-accordion.is-open,
.mtdev-accordion:target {
  > .mtdev-accordion__header {
    color: var(--wp--preset--color--mt-blue, #11D9ED);

    // Arrow
    svg {
      transform: translateY(-50%) rotate(180deg);
    }
  }

}

.editor-styles-wrapper {
  .mtdev-accordion.is-open,
  .mtdev-accordion:target {
    > .mtdev-accordion__content {
      max-height: 100%;
    }
  }
}
