$breakpoints: (
  xsmall: 20em,  // 320px
  small: 37.5em, // 600px
  medium: 48em,  // 768px
  large:  62em,  // 992px
  xlarge: 75em   // 1200px
);

// Media Querys mixin helper
@mixin mq($from, $to: null) {
  @if $from == 0 {
    /*
     * The condition will pass if the value of `$from` is 0 because in Sass, only false and null values are considered falsy.
     * Info:
     * https://sass-lang.com/documentation/operators/boolean#truthiness-and-falsiness
     */
     $from: null;
  }

  @if $from {
    @if map-has-key($breakpoints, $from) {
      $from: map-get($breakpoints, $from);
    }

    @if type-of($from) == 'string' {
      @error 'The breakpoint "#{$from}" does not exist';
    }

    @if unit($from) != 'em' {
      @error 'The unit for breakpoints must be "em", the value "#{$from}" is not valid';
    }
  }

  @if $to {
    @if map-has-key($breakpoints, $to) {
      $to: map-get($breakpoints, $to);
    }

    @if type-of($to) == 'string' {
      @error 'The breakpoint "#{$to}" does not exist';
    }

    @if unit($to) != 'em' {
      @error 'The unit for breakpoints must be "em", the value "#{$to}" is not valid';
    }
  }

  @if $from and not $to {
    @media screen and (min-width: $from) {
      @content;
    }
  }

  @if $from and $to {
    @media screen and (min-width: $from) and (max-width: $to) {
      @content;
    }
  }

  @if not $from and $to {
    @media screen and (max-width: $to) {
      @content;
    }
  }
}
