.latest-projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.latest-projects-grid-item__thumbnail img {
  width: 100%;
  height: auto;
}


.latest-projects-grid-item {
  background-color: var(--wp--preset--color--white);
  color: var(--wp--preset--color--mt-dark-blue);
  position: relative;

  a {
    color: var(--wp--preset--color--mt-dark-blue);
    font-family: var(--wp--preset--font-family--space-grotesk);
    font-weight: 700;
    text-decoration: underline;
    transition: 0.3s ease color;

    &:hover {
      color: var(--wp--preset--color--mt-green);
    }
  }
}

.latest-projects-grid-item__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem 2rem 1.5rem;
  text-align: center;
}

.latest-projects-grid-item__info > * {
  margin: 0;
}

.latest-projects-grid-item__categories {
  list-style: none;
  padding: 0;
}

.latest-projects-grid-item__category {
  font-size: 1rem;
  line-height: normal;
  letter-spacing: 0.01563rem;
  text-transform: uppercase;
  padding: 0.3rem 0.6rem;
  background:  var(--wp--preset--color--mt-green);
}

.latest-projects-grid-item__title:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.editor-styles-wrapper .latest-projects-grid {
  pointer-events: none;
}
