.hero-banner {
  text-align: center;
  margin-bottom: -10rem;

  .hero-banner__content {
    display: flex;
    flex-direction: column;
    max-width: 67.5rem;
    margin: 0 auto;
    padding: 0 2rem;
    gap: 1.5rem;

    & > * {
      margin: 0;
    }
  }

  .hero-banner__title {
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 1.2;

    @media (max-width: 400px) {
      font-size: 2.2rem;
    }

    @media (max-width: 320px) {
      font-size: 2rem;
    }
  }

  .hero-banner__subtitle {
    color: var(--wp--preset--color--mt-green);
    font-size: 2rem;
    line-height: var(--wp--custom--typography--line-height--heading);

    @media (max-width: 400px) {
      font-size: 1.9rem;
    }

    @media (max-width: 320px) {
      font-size: 1.8rem;
    }
  }

  .hero-banner__background {
    margin-top: 4rem;
    width: 100%;
    max-width: 150rem;
    object-fit: cover;
    min-height: clamp(28rem, 85vh, 35rem);
  }

  .hero-banner__content {
    position: relative;
  }

  .hero-banner__content::after {
    content: '';
    display: block;
    margin: auto;
    width: 8rem;
    height: 8rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='114' height='114' fill='none'%3E%3Cpath fill='%2328E8A3' d='m35.001 72.59 3.118-3.119-3.118-3.117-3.117 3.117L35 72.59Z'/%3E%3Cpath fill='%2328E8A3' d='m38.12 75.707 3.117-3.118-3.118-3.118-3.118 3.118 3.118 3.118Z'/%3E%3Cpath fill='%2328E8A3' d='m41.234 78.822 3.118-3.118-3.115-3.115-3.118 3.118 3.115 3.115Z'/%3E%3Cpath fill='%2328E8A3' d='m44.352 81.94 3.118-3.118-3.118-3.118-3.118 3.118 3.118 3.118ZM47.47 85.058l3.117-3.118-3.117-3.118-3.118 3.118 3.118 3.118Z'/%3E%3Cpath fill='%2328E8A3' d='m50.587 88.175 3.118-3.117-3.117-3.118-3.118 3.118 3.117 3.117ZM53.709 91.296l3.117-3.117-3.12-3.121-3.119 3.117 3.121 3.121Z'/%3E%3Cpath fill='%2328E8A3' d='m56.826 94.414 3.118-3.118-3.118-3.117-3.117 3.117 3.117 3.118ZM38.12 69.471l3.117-3.117-3.118-3.118-3.118 3.118 3.118 3.117Z'/%3E%3Cpath fill='%2328E8A3' d='m41.237 72.59 3.118-3.119-3.118-3.117-3.118 3.117 3.118 3.118Z'/%3E%3Cpath fill='%2328E8A3' d='m44.352 75.704 3.118-3.118-3.115-3.115-3.118 3.118 3.115 3.115ZM47.47 78.822l3.117-3.118-3.117-3.118-3.118 3.118 3.118 3.118ZM50.587 81.94l3.118-3.118-3.117-3.118-3.118 3.118 3.117 3.118ZM53.705 85.058l3.118-3.118-3.118-3.118-3.117 3.118 3.117 3.118ZM56.826 88.179l3.118-3.118-3.12-3.121-3.119 3.118 3.121 3.12ZM59.944 91.296l3.118-3.117-3.118-3.118-3.118 3.118 3.118 3.117Z'/%3E%3Cpath fill='%2328E8A3' d='m53.705 78.822 3.118-3.118-3.118-3.118-3.117 3.118 3.117 3.118Z'/%3E%3Cpath fill='%2328E8A3' d='m56.823 81.94 3.118-3.118-3.118-3.118-3.118 3.118 3.118 3.118ZM59.944 85.06l3.118-3.117-3.12-3.121-3.119 3.118 3.121 3.12ZM63.062 88.179l3.118-3.118-3.118-3.118-3.118 3.118 3.118 3.118ZM53.705 72.586l3.118-3.118-3.118-3.118-3.117 3.118 3.117 3.118Z'/%3E%3Cpath fill='%2328E8A3' d='m56.823 75.704 3.118-3.118-3.118-3.118-3.118 3.118 3.118 3.118ZM59.941 78.822l3.118-3.118-3.118-3.118-3.118 3.118 3.118 3.118Z'/%3E%3Cpath fill='%2328E8A3' d='m63.062 81.943 3.118-3.118-3.121-3.121-3.118 3.118 3.121 3.12ZM66.18 85.06l3.118-3.117-3.118-3.118-3.118 3.118 3.118 3.118ZM53.705 66.35l3.118-3.117-3.114-3.115-3.118 3.118 3.114 3.114ZM56.823 69.468l3.118-3.118-3.118-3.117-3.118 3.117 3.118 3.118Z'/%3E%3Cpath fill='%2328E8A3' d='m59.941 72.586 3.118-3.118-3.118-3.118-3.118 3.118 3.118 3.118ZM66.18 78.825l3.118-3.118-3.121-3.12-3.118 3.117 3.12 3.121Z'/%3E%3Cpath fill='%2328E8A3' d='m69.298 81.943 3.118-3.118-3.118-3.118-3.118 3.118 3.118 3.118ZM53.709 60.118 56.825 57l-3.117-3.118L50.59 57l3.117 3.118ZM56.823 63.233l3.118-3.118L56.826 57l-3.117 3.118 3.114 3.115Z'/%3E%3Cpath fill='%2328E8A3' d='m59.941 66.35 3.118-3.117-3.118-3.118-3.118 3.118 3.118 3.117ZM69.298 75.707l3.118-3.118-3.121-3.12-3.118 3.117 3.12 3.121ZM72.416 78.825l3.118-3.118-3.118-3.118-3.118 3.118 3.118 3.118ZM53.709 53.882l3.117-3.118-3.117-3.118-3.118 3.118 3.117 3.118Z'/%3E%3Cpath fill='%2328E8A3' d='m56.826 57 3.118-3.118-3.118-3.118-3.117 3.118L56.825 57Z'/%3E%3Cpath fill='%2328E8A3' d='m59.941 60.115 3.118-3.118-3.115-3.115L56.826 57l3.115 3.115ZM72.416 72.59l3.118-3.119-3.122-3.12-3.117 3.117 3.12 3.121Z'/%3E%3Cpath fill='%2328E8A3' d='m75.534 75.707 3.117-3.118-3.117-3.118-3.118 3.118 3.118 3.118ZM53.709 47.646l3.117-3.117-3.117-3.118-3.118 3.118 3.117 3.117Z'/%3E%3Cpath fill='%2328E8A3' d='m56.826 50.764 3.118-3.118-3.118-3.117-3.117 3.117 3.117 3.118Z'/%3E%3Cpath fill='%2328E8A3' d='m59.944 53.882 3.118-3.118-3.118-3.118-3.118 3.118 3.118 3.118ZM75.534 69.471l3.117-3.117-3.12-3.121-3.119 3.117 3.121 3.121Z'/%3E%3Cpath fill='%2328E8A3' d='m78.651 72.59 3.118-3.119-3.118-3.117-3.117 3.117 3.117 3.118ZM53.709 41.41l3.117-3.117-3.12-3.121-3.119 3.118 3.121 3.12ZM56.826 44.529l3.118-3.118-3.118-3.118-3.117 3.118 3.117 3.118ZM59.944 47.646l3.118-3.117-3.118-3.118-3.118 3.118 3.118 3.117ZM53.705 35.172l3.118-3.118-3.118-3.118-3.117 3.118 3.117 3.118Z'/%3E%3Cpath fill='%2328E8A3' d='m56.826 38.293 3.118-3.118-3.12-3.121-3.119 3.118 3.121 3.12ZM59.944 41.41l3.118-3.117-3.118-3.118-3.118 3.118 3.118 3.118ZM53.705 28.936l3.118-3.118-3.118-3.118-3.117 3.118 3.117 3.118ZM56.823 32.054l3.118-3.118-3.118-3.118-3.118 3.118 3.118 3.118Z'/%3E%3Cpath fill='%2328E8A3' d='m59.944 35.175 3.118-3.118-3.12-3.12-3.119 3.117 3.121 3.121ZM56.823 25.818l3.118-3.118-3.118-3.117-3.118 3.117 3.118 3.118Z'/%3E%3Cpath fill='%2328E8A3' d='m59.941 28.936 3.118-3.118L59.94 22.7l-3.118 3.118 3.118 3.118Z'/%3E%3C/svg%3E");
    background-position: center;
    background-size: cover;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    animation: load 1s infinite alternate;
  }

  @keyframes load {
    to {
      transform: translateY(1rem);
    }
  }
}
